body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
  }
  
  h1,
  h2 {
    color: #333;
  }
  
  form,
  #eventosList,
  #detalleEvento {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input,
  button,
  select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px; 
  }
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0;
  }
  
  #detalleEvento {
    display: none;
  }
  
  #buscador {
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    margin-top: 10px;
  }
  #loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 9999;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  